// Font stacks
$base-font:    "Open Sans", sans-serif;
$heading-font: "Glegoo", serif;
$monospace:    "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// The amount lists, blockquotes and comments are indented.
$indent: 3rem;