// bio panels

.bios {
	background:$light-gray;
	margin:10rem 0 6rem;
	padding:10rem 0;

	@include bp( $medium ) {
		margin-bottom:10rem;
	}

	&__container {
		position:relative;
		padding:0 3rem;
	}

	&__title {
		font-weight:700;
		margin-bottom:3rem;
		line-height: 1em;
		@include bp( $thin ) {
			margin-bottom:6.4rem;
		}
	}

	&__controls {
		@include secondary-text;
		font-size:1.6rem;
		margin-bottom:3rem;
		@include bp( $thin ) {
			position:absolute;
			right:3.3rem;
			top:0;
			margin-bottom:0;
		}

		// don't display controls if there aren't enough bios
		&--amount-1 {
			display:none;
		}
		@include bp( $thin ) {
			&--amount-2 {
				display:none;
			}
		}
		@include bp( $medium ) {
			&--amount-3 {
				display:none;
			}
		}
		@include bp( $wide ) {
			&--amount-4 {
				display:none;
			}
		}

	}

	&__count {
		margin-right:1rem;
		border-right:2px solid $near-black;
		padding-right:1rem;
	}

	&__more {
		@include toggler;
		margin:1rem 0;
	}

	&__list,
	&__item {
		@include list-reset;
	}

	&__list {
		@include clearfix;
		@include bp( $thin ) {
			width:calc( 100% + 4rem );
			margin:0 -2rem;
		}
		display:flex;
		flex-wrap:wrap;
		margin-bottom:2rem;

		.bios__item:nth-child(1n+2) {
			display:none;
		}
		&.toggled {
			.bios__item:nth-child(1n+2) {
				display:block;
			}
		}
		@include bp( $thin ) {
			.bios__item:nth-child(1n+2) {
				display:block;
			}
			.bios__item:nth-child(1n+3) {
				display:none;
			}
			&.toggled {
				.bios__item:nth-child(1n+3) {
					display:block;
				}
			}
		}
		@include bp( $medium ) {
			.bios__item:nth-child(1n+3) {
				display:block;
			}
			.bios__item:nth-child(1n+4) {
				display:none;
			}
			&.toggled {
				.bios__item:nth-child(1n+4) {
					display:block;
				}
			}
		}
		@include bp( $wide ) {
			.bios__item:nth-child(1n+4) {
				display:block;
			}
			.bios__item:nth-child(1n+5) {
				display:none;
			}
			&.toggled {
				.bios__item:nth-child(1n+5) {
					display:block;
				}
			}
		}

	}

	&__item { // design: 276x396
		margin-bottom:4.4rem;
		display:block;
		position:relative;
		overflow:hidden;
		flex-basis:100%;
		@include bp( $thin ) {
			padding:0 2rem;
			flex-basis:50%;
		}
		@include bp( $medium ) {
			flex-basis:33%;
		}
		@include bp( $wide ) {
			flex-basis:25%;
		}
	}

	&__image { // width and padding-bottom together maintain 276x273 aspect ratio
		width:100%;
		padding-bottom:101%;
		overflow:hidden;
		background:$gray;
		text-align:center;
		position:relative;
		img {
			min-width:100%;
			min-height:100%;
			width:auto;
			height:auto;
			position:absolute;
			left:50%;
			top:50%;
			transform:translate(-50%, -50%);
		}
	}

	&__text {
		position:relative;
		width:100%;
		background:$navy;
		color:#fff;
		margin-top:-1px;
		text-align:center;
		padding:1rem;
		height:14.3rem;

		&:hover {
			background: $blue;
		}

		&__inner {
			position:relative;
			top:50%;
			transform:translateY(-50%);
		}

	}

	&__name {
		font-size:2.1rem;
		font-weight:400;
		a {
			color:#fff;
			text-decoration:none;
		}
		margin-bottom:1rem;
	}

	&__position,
	&__organization {
		display:block;
		font-size:1.6rem;
		line-height:1.4;
	}

	&__organization {
		font-weight:600;
	}

}
