.resource-filters {
	background:$navy;
	color:#fff;
	padding:3rem 3rem 6rem;
	@include bp( $medium ) {
		padding:7rem 3rem 8rem;
	}
	@include bp( $wide ) {
		padding:8.9rem 3rem 11.4rem;
	}
	@include secondary-text;
	font-size:1.6rem;

	&__container {
		max-width:85rem;
		@include bp( $medium ) {
			max-width:136rem;
		}
	}

	&__form {
		@include clearfix;
	}

	&__filters {
		@include bp( $medium ) {
			width:85%;
			float:left;
		}
		@include bp( $wide ) {
		}
	}

	&__desc,
	&__dropdown {
		display:block;
		@include bp( $medium ) {
			display:inline-block;
		}
	}

	&__desc,
	&__label {
		padding:2rem;
		margin:1.5rem 0;
		@include bp( $medium ) {
			margin:0;
			padding:3rem 4rem;
		}
		@include bp( $wide ) {
			padding:3rem 4rem;
		}
	}

	&__desc {
		padding-left:0;
		display:block;
		@include bp( $medium ) {
			float:left;
			margin-left:0;
			width:15%;
			padding-right:3rem;
		}
		@include bp( $wide ) {
			margin-left:0;
			padding-right:4rem;
		}
	}

	&__dropdowns {
		@include bp( $medium ) {
			float:left;
			max-width:85%;
		}
	}

	&__dropdown {
		background:$navy-dark;
		margin-bottom:2rem;
		position:relative;
		@include bp( $medium ) {
			background:$navy-dark;
			margin:0 3rem 3rem 0;
		}
		@include bp( $wide ) {
			margin:0 5rem 3rem 0;
		}
	}

	&__label {
		display:block;
		padding-right:7.6rem;
		position:relative;
		text-decoration:none;
		color:#c0c0c0;
		@include bp( $medium ) {
			width:19.5rem;
		}
		@include bp( $wide ) {
			width:21rem;
		}
		&:after {
			content:'';
			@include triangle(2rem, #c2c2c2, down);
			transition:transform 0.3s;
			position:absolute;
			right:3.5rem;
			top:2.3rem;
			@include bp( $medium ) {
				right:3.5rem;
				top:3.4rem;
			}
		}
		&:before {
			content:'';
			@include triangle(1rem, $navy-dark, down );
			transition:transform 0.3s, top 0.3s;
			position:absolute;
			z-index:1;
			right:4rem;
			top:2.3rem;
			@include bp( $medium ) {
				@include triangle(1rem, $navy-dark, down );
				right:4rem;
				top:3.4rem;
			}
		}
		&:hover,
		&:focus {
			color:#fff;
			&:after {
				@include triangle(2rem, #fff, down);
			}
		}
		&.toggled {
			color:#fff;
			&:after {
				transform:rotate(180deg);
				@include triangle(2rem, #fff, down);
			}
			&:before {
				transform:rotate(180deg);
				top:2.8rem;
				@include bp( $medium ) {
					top:3.9rem;
				}
			}
		}
	}

	&__checklist {
		display:none;
		&.toggled {
			display:block;
		}
		z-index:1;
		position:absolute;
		padding-bottom:2.4rem;
		max-height:35rem;
		background:$navy-dark;
		width:100%;
		margin-top:-1.5rem;
		box-shadow:0px 22px 44px -5px rgba(34,34,34,0.5);
		overflow-y:auto;

		&::-webkit-scrollbar {
		    width:12px;
		}

		&::-webkit-scrollbar-track {
		    border-radius:0;
		    background:$navy-dark;
		}

		&::-webkit-scrollbar-thumb {
		    border-radius:0;
		    background:$blue;
		}

		@include bp( $medium ) {
			margin-top:0;
			margin-left:0;
			background:$navy-dark;
			width:45.5rem;
			padding-top:2.4rem;
		}
	}

	&__checkline {
		@include clearfix;
		display:block;
		width:100%;
		margin:0;
		padding:1.5rem 2rem;
		@include bp( $medium ) {
			padding:1.5rem 4rem;
		}

		&:hover {
			cursor:pointer;
		}

		input {
			display:block;
			float:left;
			&:focus {
				outline:1px dotted #fff;
				box-shadow:0 0 1rem $bright-blue;
			}
		}

		span {
			display:block;
			float:left;
			width:75%;
			line-height:1.4;
		}
	}

	&__apply {
		float:right;
		margin:2rem 0 4rem;
		@include bp( $medium ) {
			margin:0;
			width:15%;
		}
		padding:3rem 4.5rem;
		font-size:1.6rem;
		position:relative;
		z-index:0;
	}

	&__selections {
		@include clearfix;
		@include bp( $medium ) {
			width:85%;
			padding-top:4rem;
		}

		.resource-filters__desc {
			padding:2rem 3rem 2rem 0;
		}
	}

	&__selection-links {
		@include bp( $medium ) {
			float:left;
			width:85%;
		}
	}

	&__selection {
		background:$ocean;
		transition:none;
		position:relative;
		&:hover,
		&:focus {
			background:$ocean;
		}
		clear:both;
		display:block;
		margin:0 0 2rem;
		padding:1.5rem 5rem 1.5rem 2rem;
		line-height:1.3;
		text-align:left;
		z-index:0;
		@include bp( $thin ) {
			clear:none;
			display:inline-block;
			margin:0 2rem 2rem 0;
			padding:2rem 5rem 2rem 3rem;
		}
		@include bp( $medium ) {

		}
	}

	&__remove-selection {
		color:#fff;
		text-decoration:none;
		display:inline-block;
		transition:none;
		float:right;
		line-height:0.5;
		@include vertical-align;
		position:absolute;
		right:2rem;
		&:before {
			content:'\00d7';
			font-size:2.8rem;
			height:auto;
			display:inline-block;
			vertical-align:middle;
		}
		&:hover,
		&:focus {
			color:#fff;
		}
	}

	&__clear {
		color:#fff;
		text-align:right;
		display:block;
		@include bp( $medium ) {
			text-align:left;
			display:inline-block;
		}
	}

}
