.hero {
	position:relative;
	overflow:hidden;

	&__image {
		position:absolute;
		width:100%;
		height:auto;
		@include bp( $medium ) {
			position:relative;
			float:left;
			width:65%;
			height:auto;
		}
		@include bp( $wide ) {
			width:60%;
			height:auto;
		}
	}

	&__container {
		@include grid-container;
		position:relative;
	}

	&__text-box {
		background:$blue;
		color:#fff;
		position:relative;
		z-index:1;
		@include grid-column( 12 );
		padding:3rem;
		margin-top:67%;
		margin-bottom:4rem;
		@include bp( $thin ) {
			padding:5rem 5rem 4rem;
		}
		@include bp( $medium ) {
			@include grid-column( 6 );
			@include grid-push( 6 );
			position:absolute;
			right:4.4rem;
			top:50%;
			transform:translateY(-50%);
			margin:0;
			padding:6rem 6rem 4rem;
		}
		@include bp( $wide ) {
			padding:9rem;
		}
		@include bp( 1500px ) {
			padding:11rem;
		}

		h1, h2, h3, h4, h5, h6, p {
			color:#fff;
		}
		h1, h2 {
			line-height:1.1;
			font-weight:700;
			letter-spacing:-0.1rem;
			font-size:4rem;
			@include bp( $thin ) {
				letter-spacing:-0.3rem;
				font-size:5rem;
			}
			@include bp( $wide ) {
				font-size:6rem;
			}
			@include bp( 1500px ) {
				font-size:7.9rem;
			}
		}
		p {
			font-weight:300;
			font-size:1.8rem;
			@include bp( 1500px ) {
				font-size:2rem;
			}
		}

	}

	&:before {
		content:'';
		background-image:url( 'images/shape.png' );
		background-size: contain;
		background-repeat: no-repeat;
		position:absolute;
		z-index:1;
		bottom:0;
		display:block;
		width:47.6rem;
		height:50.4rem;
		opacity:0.8;
	}

}

.hero--home {

	.hero__image {
		@include bp( $medium ) {
			float:right;
		}
	}

	&:before {
		right:6rem;
		bottom:0;
		@include bp( 500px ) {
			left:0;
			right:auto;
		}
		@include bp( $medium ) {
			left:45%;
			bottom:0;
		}
	}

	.hero__text-box {
		background:$navy;
		@include grid-push( 0 );
		.button {
			margin-right:1rem;
			width:100%;
			margin-bottom:2rem;
			@include bp( $wide ) {
				width:auto;
				margin-bottom:0;
			}
			@extend .button--secondary;
			@extend .button--on-dark;
		}
		@include bp( $medium ) {
			right:auto;
			left:0;
		}
	}

}
