// 'surfaced' refers to the section with three horizontal posts.
// used for related blog posts, most recent outcomes/events.

.surfaced-posts {
	padding:6rem 3rem;
	@include bp( $thin ) {
		padding:12rem 3rem;
	}
	@include bp( $medium ) {
		padding:12rem 3rem;
	}
	text-align:center;
	background:$off-white;
	clear:both;
	@include clearfix;

	&__heading {
		font-size:2.8rem;
		@include bp( $thin ) {
			font-size:3.4rem;
		}
		line-height:1.15;
		font-weight:700;
	}

	&__row {
		@include grid-container();
		text-align:left;
		margin:4rem 0;
  		display: block;
		@include bp( $thin ) {
			margin:7rem -2rem;
		    display: flex;
		    flex-direction: row;
		    height: auto;
		}
	}

	&__post {
		@include bp( $thin ) {
			@include grid-column( 6 );
			&:last-child {
				display:none;
			}
		}
		@include bp( $medium ) {
			@include grid-column( 4 );
			&:last-child {
				display:flex;
			    flex: 1;
			}
		}
		position: relative;
	    display: flex;
	    flex: 1;

	}

	&__post-inner {
		margin:0 0 4rem;
	    display: flex;
	    flex: 1;
	    overflow: hidden;
	    background: $white;
		@include bp( $thin ) {
			margin:0 2rem;
		}
		box-shadow:0 0 2rem -0.5rem $dark-gray;
	}

	&__link {
		display:block;
		width:100%;
		height:100%;
		text-decoration: none;
		&:hover .surfaced-posts__title,
		&:focus .surfaced-posts__title {
			text-decoration: underline;
		}
	}

	&__image {
		width:100%;
		height:auto;
		display:block;
	}

	&__text {
		padding:2.5rem 4rem 4.5rem;
		background: $white;
		min-height: 21.7rem;
		position:relative;
	}

	&__title {
		line-height:1.5;
		color:$navy;
		text-decoration:none;
		font-weight:700;
		font-size:2.5rem;
		word-break: break-word;
	}

	&__meta {
		color:$gray-text;
		font-weight:600;
		font-size:1.5rem;
		margin:0;
		margin-top:1rem;

		&--date {
			@include icon-before( 'calendar' );
		}

		&--location {
			@include icon-before( 'pin' );
		}

		&--date,
		&--location {
			padding-left:3rem;
			&:before {
				text-align:center;
				color:$gray-text;
				display:inline-block;
				width:3rem;
				margin-left:-3rem;
			}
		}

	}

	&__date {
		background:#fff;
		color:$blue;
		font-weight:700;
		float:left;
		position:absolute;
		top:-4.4rem;
		padding:2rem 4rem;
		left:0;
	}

}

.main-basic + .surfaced-posts,
.main-singular + .surfaced-posts {
	background-color:$blue;
	background-image:url( 'images/globe-bg.jpg' );
	background-size:cover;

	.button {
		@extend .button--on-dark;
	}

	.surfaced-posts__heading {
		color:#fff;
	}

	.surfaced-posts__post-inner {
		background: $white;
	}

}
