// scss-lint:disable IdSelector

.element-invisible,
%element-invisible,
.screen-reader-text {
	@include element-invisible;
}

.element-invisible-off,
%element-invisible-off {
	@include element-invisible-off;
}

.element-focusable,
%element-focusable {
	@extend %element-invisible;
	&:active,
	&:focus {
		@extend %element-invisible-off;
	}
}

#skip-link,
.skip-link {
	&:focus {
		@include element-invisible-off;
		font-size:1.6rem;
		color:$navy;
	}
	margin: 0;
	display: block;
	width: 100%;
	padding:0.6rem 0;
	text-align: center;
}

#content {
	outline: none;
}
