* {
	box-sizing: border-box;
}

html {
	font-family:$base-font;
	font-size:10px;
	height:100%;
}

body {
	font-family:$base-font;
	font-size:16px;
	line-height:24px;
	background:#fff;
}

.content {
	color:$navy-light;
	font-size:1.6rem;
	line-height:1.8;
	@include bp( $thin ) {
		font-size:1.8rem;
		line-height:1.95;
	}
	padding:0;
}

.entry-content {
	margin:0;
}

// on small sizes, add margin for header
.site-inner {
	margin-top:7rem;
	@include bp( $medium ) {
		margin-top:0;
	}
}
