@font-face {
	font-family: 'techcamp-icons';
	src: url('./fonts/techcamp-icons/techcamp-icons.eot?i5vydk');
	src: url('./fonts/techcamp-icons/techcamp-icons.eot?i5vydk#iefix') format('embedded-opentype'),
		 url('./fonts/techcamp-icons/techcamp-icons.ttf?i5vydk') format('truetype'),
		 url('./fonts/techcamp-icons/techcamp-icons.woff?i5vydk') format('woff'),
		 url('./fonts/techcamp-icons/techcamp-icons.svg?i5vydk#techcamp-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
