@font-face {
	font-family: 'techcamp-icons';
	src: url('./fonts/techcamp-icons/techcamp-icons.eot?d5fzfq');
	src: url('./fonts/techcamp-icons/techcamp-icons.eot?d5fzfq#iefix') format('embedded-opentype'),
		 url('./fonts/techcamp-icons/techcamp-icons.ttf?d5fzfq') format('truetype'),
		 url('./fonts/techcamp-icons/techcamp-icons.woff?d5fzfq') format('woff'),
		 url('./fonts/techcamp-icons/techcamp-icons.svg?d5fzfq#techcamp-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
