// grid defaults

$neat-grid: (
	columns: 12,
	gutter: 2rem,
);

// helper classes

.container {
	@include clearfix;
	max-width:136rem;
	margin:0 auto;

	&--padded {
		padding:2rem 0;
	}
}

// corona structure

.content-sidebar-wrap {
	@include clearfix;
	max-width:136rem;
	margin:0 auto;
	padding:2rem 0;
	float:none; // ?
}
