.content {
	padding:0;
}

.entry-header {
	background:$light-gray;
	padding:10rem 0;
}

.entry-title {
	font-size:8rem;
	letter-spacing:-0.3rem;
	font-weight:700;
	width:85rem;
	border-bottom:2px solid $gray;
	padding:6rem 0 8rem;
	margin:0 auto 4rem;
	color:$blue;
}

.entry-content {
	width:85rem;
	margin:12rem auto;
	font-weight:400;
	color:$navy-dark;
}
